FusionDev Backup1/src/flows/Art_WorkFlow-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>check_if_approved_or_not</name>
        <label>check if approved or not</label>
        <locationX>158</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToStoreTheRecordFound.Internal_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_line_items</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_origin_source_is_sfdc</name>
        <label>Checking the origin source is sfdc</label>
        <locationX>163</locationX>
        <locationY>75</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_SFDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToStoreTheRecordFound.OriginSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_internal_Review_on_order_object</targetReference>
            </connector>
            <label>If SFDC</label>
        </rules>
        <rules>
            <name>Not_SFDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToStoreTheRecordFound.OriginSource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <label>Not SFDC</label>
        </rules>
    </decisions>
    <interviewLabel>Art WorkFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Art WorkFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>check_the_order_status_is_updated</name>
        <label>check the order status is updated</label>
        <locationX>11</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_approved_or_not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToStoreTheRecordFound.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>ToStoreTheRecordFound</outputReference>
        <queriedFields>Internal_Review_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>To_find_the_Order_Origin_Source</name>
        <label>To find the Order Origin Source</label>
        <locationX>8</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_the_origin_source_is_sfdc</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Comming_From_ProcessBuilder.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>ToStoreTheRecordFound</outputReference>
        <queriedFields>Internal_Review_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginSource__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_the_line_items</name>
        <label>update the line items</label>
        <locationX>160</locationX>
        <locationY>508</locationY>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToStoreTheRecordFound.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CGS_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_internal_Review_on_order_object</name>
        <label>Updating the internal Review on order object</label>
        <locationX>163</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>check_the_order_status_is_updated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToStoreTheRecordFound.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_Review_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <startElementReference>To_find_the_Order_Origin_Source</startElementReference>
    <variables>
        <name>Id_Comming_From_ProcessBuilder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ToStoreTheRecordFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
